services:
  # Serviço do Backend
  backend:
    build: ./backend
    container_name: gds-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    # Carrega as variáveis do arquivo .env da raiz
    env_file:
      - .env
    environment:
      - TZ=America/Recife

  # Serviço do Frontend
  frontend:
    build: ./frontend
    container_name: gds-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true